
<%-include("Partials/header.ejs");%>
<h1>Explore Your Future with Confidence</h1>
<p>
    <%-HomeParagraph%> 
    
</p>
<hr>
<% posts.forEach(function(post) { %>
    <h1><%- post.title %></h1>
    
    <!-- Display the shortened formatted body, ensure it's not undefined -->
    <p class="Postedp">
      <%- post.formattedBody ? post.formattedBody.substring(0, 100) + " ..." : "No content available" %> 
      <a href="/posts/<%= post.title %>">Read More</a>
    </p>
    <hr>
  <% }) %>
  
  
  
<%-include("Partials/footer.ejs");%>


